@page
@model ECRS_EventManager.Pages.Registrations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Registration.ID" />
            <div class="form-group">
                <label asp-for="Registration.FormEntryID" class="control-label"></label>
                <input asp-for="Registration.FormEntryID" class="form-control" />
                <span asp-validation-for="Registration.FormEntryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.FormAdminLink" class="control-label"></label>
                <input asp-for="Registration.FormAdminLink" class="form-control" />
                <span asp-validation-for="Registration.FormAdminLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.FormEditLink" class="control-label"></label>
                <input asp-for="Registration.FormEditLink" class="form-control" />
                <span asp-validation-for="Registration.FormEditLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.CreatedOn" class="control-label"></label>
                <input asp-for="Registration.CreatedOn" class="form-control" />
                <span asp-validation-for="Registration.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.SubmittedOn" class="control-label"></label>
                <input asp-for="Registration.SubmittedOn" class="form-control" />
                <span asp-validation-for="Registration.SubmittedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.UpdatedOn" class="control-label"></label>
                <input asp-for="Registration.UpdatedOn" class="form-control" />
                <span asp-validation-for="Registration.UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
